*{
     box-sizing: border-box !important;
     
}


html { 
    scroll-behavior: smooth; 
}   
ul, li, ol {
     margin: 0px;
     padding: 0px;
     /*list-style: none;*/
}
.cen{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrange{
    justify-content: space-around;

}
.back{
    background-color: rgba(0, 0, 0, .1);
}
.text-pink{
    color: #EF4A29;
}
.bg-pink{
    background-color:#EF4A29;
}
.bg-purple{
  background-color: #0C0116;
}
.bg-theme{
 background-color: #FCEC72;
}
.bg-footer{
    background-color: #272222
}
img::hover{
    transform: scale(1.5);
}
#navbarSupportedContent a:hover{color: orange;}
.fs-custom{
    font-size: 100%;
}
   textarea,input{
        width: 100%;
        margin: 5px;
        padding: 1%;
        font-size: 18px
    }
    textarea{
      height: 200px;
      
    }
    .font{
      font-family: all;
      font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  text-transform: uppercase;
  font-weight: bold;
}

/*Banner section*/

.hero_area {
  height: 98vh;
  background-color: #FCEC72;
}
/*end Banner section*/

/* slider section */
.slider_section {
  padding-top: 8%;
}

.slider_img-box img {
  width: 100%;
}

.slider-btn1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #252525;
  border: 1px solid white;
  color: #ffffff;
}

.slider-btn1:hover {
  background-color: transparent;
  color: black;
}

.slider-btn2 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #252525;
  border: 1px solid #252525;
  color: #ffffff;
}

.slider-btn2:hover {
  background-color: transparent;
  color: #252525;
}

.slider_item-detail h1 {
  font-size: 68px;
  width: 95%;
  text-transform: uppercase;
}

.slider_item-detail p {
  margin: 45px 0;
}
/* end slider section */

/* About Section */
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_detail-box p {
  margin-top: 30px;
  margin-bottom: 45px;
}

.about_detail-box a {
  display: inline-block;
  padding: 7px 25px;
  background-color: #252525;
  border: 1px solid #252525;
  color: #ffffff;
}

.about_img-box img {
  width: 100%;
}
/* End About Section */

/* Brand Section */
.brand_section {
  text-align: center;
  background-color: #c1dcf9;
}

.brand_section h3 {
  color: #fcfcfc;
}

.brand_section .brand_item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand_item-box {
  width: 265px;
  margin: 30px 10px 0 10px;
}

.brand_img-box {
  height: 310px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.brand_img-box.item-1 {
  background-image: url(/bag_store/images/women_bag1.jpg);
}

.brand_img-box.item-2 {
  background-image: url(/bag_store/images/images\ \(1\).jpeg);
}

.brand_img-box.item-3 {
  background-image: url(/bag_store/images/9303fdcc-d20c-4be3-bcfd-7add42ad1a10.jpeg);
}

.brand_img-box.item-4 {
  background-image: url(/bag_store/images/images\ \(2\).jpeg);
  background-position: center;
  background-size: cover;
}

.brand_detail-box {
  margin-top: 20px;
}

.brand_detail-box h5 span {
  color: #179dfb;
}
/* End Brand Section */

/* Why Section */
.why_section .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
}

.why_section .img_box {
  min-width: 125px;
  min-height: 125px;
  margin-right: 25px;
  border: 1.5px solid #e3e2e2;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* End Why Section */

/* Client Section */
.client_section {
  background-color: #c1dcf9;
}

.client_section .row {
  padding: 25px 0;
}

.client_section .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client_section .detail_box {
  min-width: 150px;
  margin-right: 25px;
  text-align: center;
}

.client_section .detail_box img {
  width: 100%;
}

.client_section .detail_box h5 {
  font-weight: bold;
  margin: 20px;
}
/* End Client Section */

/* Contact Section */
.contact_section {
  color: #fff;
  /*background-color: grey;*/
  background: url(/bag_store/images/contact.jpg) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay; 
}

.contact_section input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  height: 40px;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.contact_section input::-webkit-input-placeholder {
  color: #fff;
}

.contact_section input:-ms-input-placeholder {
  color: #fff;
}

.contact_section input::placeholder {
  color: #fff;
}

.contact_section input.message-box {
  padding-top: 135px;
}

.contact_section button {
  background-color: #179dfb;
  padding: 12px 55px;
  outline: none;
  border: none;
  border: 1px solid #179dfb;
  color: #000;
}

.contact_section button:hover {
  color: #179dfb;
  background-color: transparent;
}

